:root {
    --pad-mar-lg: 2rem;
    --pad-mar-sm: 1rem;
    --br-general: 1rem;
    --cc-user-basic-bg: #ffff;
    --cc-txt-color1: #1f1f1f;
    --ff-mainTxt: 'Arial', sans-serif;
    --background: #800000d0;
  }
  