/*#region Imports*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap'); /*Cinzel*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /*Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap'); /*Red Hat*/
/*#endregion Imports*/


/*#region prerequisites*/
:root {
  /*Color Design System*/
  --background: #4f0505;
  --foreground: #171717;

  --cc-main-color: #800000;
  --cc-main-color-hover: #800000d0;
  --cc-sub-color: #FFE200;
  --cc-sub-hover: #ffe100d5;
  --cc-txt-color1: #000;
  --cc-txt-color2: #fff;
  --cc-OU-svg: #603d30;
  --cc-signup-btn: #dccece;
  --cc-signup-hover: #dcceced5;
  --cc-profile-btn: #cccccc;
  --cc-profile-hover: #989898;

  --cc-box-shadow: #a9a9a9;
  --cc-user-basic-bg: #f7f7f7;


  /*Main Fonts Design System*/
  --ff-logo_mainElements: 'Cinzel', serif;
  --ff-buttons: 'Montserrat', serif;
  --ff-mainTxt: 'Red Hat Display', serif;

  /*Font Size Design System*/
  --fs-logo: 25px;
  --fs-subLogo: 18px;

  /*Border Radius Design System*/
  --br-general: 10px;
  --br-signup-login: 5px;

  /*Padding Design System*/
  --pad-min: 4px;
  --pad-sm: 8px;
  --pad-med: 13px;
  --pad-lg: 24px;
  --pad-xlg : 40px;
  --pad-max: 64px;
}

body {
  padding: 0;
  margin: 0;
}
/*#endregion prerequisites*/

/*#region HomePage*/
    /*#region Header*/
    .header_left {
      display: flex;
      flex-direction: row;
      justify-content: center;  
      gap: 1rem;
      width: fit-content;
    }

    .logo_img {
      width: 80px;
      height: 80px;
    }

    .logo_h1, .logo_h2 {
      font-family: var(--ff-logo_mainElements);
    }

    .logo_h1 {
      cursor: pointer;
      font-weight: 900;
      font-size: var(--fs-logo);
      letter-spacing: 10%;
      color: var(--cc-main-color);
    }

    .logo_h2 {
      cursor: pointer;
      font-weight: 700;
      font-size: var(--fs-subLogo);
      letter-spacing: 7%;
      color: var(--cc-txt-color1);
      opacity: 0.6;
    }

    .about_btns:hover {
      color: var(--background);
      text-decoration: underline;
    }

    .login_btn {
      background-color: var(--cc-main-color);
      border-radius: var(--br-general);
      letter-spacing: 15%;
      color: var(--cc-txt-color2);
    }

    .login_btn:hover{
      background-color: var(--cc-sub-color);
      color: var(--cc-txt-color1);
    }

    .profile_img {
      width: 60px;
      height: 60px;
      border-color: var(--cc-profile-btn);
    }

    .profile_drop_cont {
      background-color: var(--cc-profile-btn);
      display: flex;
      align-items: center;
      text-align: center;
      width: max-content;
      border-radius: var(--br-general);
    }

    .profile_drop_btns {
      width: 100%;
      padding-inline: 20px;
      padding-block: 10px;
      border-radius: var(--br-signup-login);
    }

    .profile_drop_btns:hover {
      background-color: var(--cc-profile-hover);
      font-weight: bold;
    }
    /*#endregion Header*/

    /*#region Body */
    .body_left {
      position: relative;
      width: 50%;
      overflow: hidden;
    }

    .pylon_img {
      width: 590px;
      height: 580px;
      object-fit: cover;
      object-position: center;
    }

    .right_txt {
      letter-spacing: 5%;
      width: 720px;
    }

    .drop_btn {
      width: fit-content;
      border-top-left-radius: var(--br-general);
      border-bottom-left-radius: var(--br-general);
      background-color: #D9D9D9;
    }

    .search_field_bar {
      width: 450px;
    }

    .searchBtn {
      position: relative;
      background-color: var(--cc-sub-color);
      padding: var(--pad-med);
      border-top-right-radius: var(--br-general);
      border-bottom-right-radius: var(--br-general);
      cursor: pointer;
      transition: background-color 0.4s, transform 0.1s ease;
    }

    .searchBtn:hover {
      background-color: var(--cc-sub-hover);
    }

    .searchBtn:active {
      animation: pulse 0.3s ease-out;
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(0.95);
      }

      100% {
        transform: scale(1);
      }
    }
    /*#endregion Body */
/*#endregion HomePage */


/*#region LoginPage*/
    .svgConfOpenU {
      background-color: var(--cc-OU-svg);
      border-radius: 60px;
      padding: var(--pad-sm);
    }


    .login_panel {
      background-color: var(--background); 
    }

    .login_content {
      position: relative;
      z-index: 1; 
    }

    .obelisk_img {
      position: fixed;
      z-index: 0;
      top: 0px;
      opacity: 10%;
      filter: blur(0.2rem);
      width: 690px;
      height: 650px;
      object-fit: cover;
      object-position: center;
    }
    
    .user_forms_login {
      width: 400px;
      display: flex;
      flex-direction: column;
      gap: 60px;
      margin-top: 60px;
    }
    .user_forms_signup {
      width: 400px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 40px;
    }

    .form_fields {
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    }

    .login_btn2 {
      background-color: var(--cc-sub-color);
      border-radius: var(--br-signup-login);
      text-transform: uppercase;
      letter-spacing: 15%;
      color: var(--cc-txt-color1);
      font-family: var(--ff-buttons);
      font-weight: bold;
      width: 185px;
      padding-inline: var(--pad-med);
      padding-block: var(--pad-med);
      box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    }

    .login_btn2:hover{
      background-color: var(--cc-sub-hover);
      color: var(--cc-txt-color1);
    }

    .signup_btn {
      background-color: var(--cc-signup-btn);
      border-radius: var(--br-signup-login);
      text-transform: uppercase;
      letter-spacing: 15%;
      color: var(--cc-txt-color1);
      font-family: var(--ff-buttons);
      font-weight: bold;
      width: 185px;
      padding-inline: var(--pad-med);
      padding-block: var(--pad-med);
      box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    }
    
    .signup_btn:hover{
      background-color: var(--cc-signup-hover);
      color: var(--cc-txt-color2);
    }
    
    .forgot_pass:hover {
      color: var(--cc-signup-btn);
    }

    .sis_btn {
      background-color: var(--cc-main-color);
      border-radius: var(--br-signup-login);
      text-transform: uppercase;
      letter-spacing: 15%;
      color: var(--cc-txt-color2);
      font-family: var(--ff-buttons);
      font-weight: bold;
      width: 185px;
      padding-inline: var(--pad-med);
      padding-block: var(--pad-med);
      box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    }

    .sis_btn:hover {
      background-color: var(--cc-main-color-hover);
      color: var(--cc-txt-color1);
    }

    .date_dropdown {
      font-family: var(--ff-buttons);
      font-weight: 600;
      width: 100%;
      padding: var(--pad-med);
      border-radius: var(--br-signup-login);
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }

    .date_dropdown:focus {
      outline: none;
      border-color: #0060df;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
/*#endregion LoginPage*/


/*#region SearchResults*/
.banner_content {
  background-color: var(--background);
  padding-block: var(--pad-max);
}

.mural_img {
  position: absolute;
  z-index: 0;
  top: -220px;
  right: 0px;
  opacity: 10%;
  filter: blur(0.3rem);
  width: 2090px;
  height: 780px;
  object-fit: cover;
  object-position: center;
}
/*#endregion SearchResults*/

/*#region About*/
.pupMain_img {
  position: absolute;
  z-index: 0;
  top: 120px;
  right: 0px;
  opacity: 10%;
  filter: blur(0.3rem);
  width: 2090px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.about_pup {
  padding-inline: 70px;
  margin-block: 50px;
}

.about_pupTxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 2.4px;
  opacity: 0.8;
  text-align: justify;
}
/*#endregion About*/


/*#region Profile Page*/
.user_basic {
  padding: var(--pad-med);
  border-radius: var(--br-general);
  background-color: var(--cc-user-basic-bg);
  box-shadow: 0px 5px 10px 2px var(--cc-box-shadow);
}

.profile_menu:hover {  
  background-color: var(--background);
  color: var(--cc-txt-color2);
  padding: var(--pad-med);
  border-radius: var(--br-general);
  font-weight: 700;
}

.right_panel {
  background-color: var(--background);
  width: 75%;
  border-radius: var(--br-general);
}

.street_art {
  border-radius: var(--br-general);
  position: absolute;
  z-index: 0;
  top: 145px;
  right: 65px;
  opacity: 10%;
  filter: blur(0.3rem);
  width: 930px;
  height: 310px;
  object-fit: cover;
  object-position: center;
}
/*#endregion Profile Page*/