@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #4f0505;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



/*#region Body */
.body_left {
  position: relative;
  width: 50%;
  height: 30%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.pylon_img {
  width: 800px;
  height: 600px;
}
/*#endregion Body */